@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100vh;

  background: #26222A;
  background-repeat: no-repeat;
}

.image-title{

  display:block;
  margin-top:30px;
  margin-left: auto;
  margin-right: auto;

}

.neon-button{
  color:green;
  text-align: center;
  margin-top: 50px;
  border: 3px solid green;
  padding:15px,35px;
  font-size: 30px;
  margin-left: 700px;

  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 42px green,
  0 0 82px green;

  box-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 42px green,
  0 0 82px green;

}

.descript-text{

  text-align: center;
  margin-top:30px;
  color:white;

}

.spacingInsideSticky .stickySpaceLink {
  color: white;
  font-size: 30px;
  margin-left: 640px;
}

.spacingInsideSticky .stickySpaceLink:hover {
  color: violet;
}


.spacingInsideSticky .stickySpaceLink + .stickySpaceLink{
  margin-left: 80px;
}

.text-1{

  color: violet;

}

.text-2{

  color: yellow;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header-neon-blue {
  @apply text-3xl font-bold;
  background: -webkit-linear-gradient(#00d1ff, #7e5bef); /* Gradient from neon blue to purple */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 15px #00d1ff, 0 0 2px #7e5bef; /* Adjusted glow effect */
}


.body-neon-blue {
  @apply text-lg text-blue-400;
  color: #00d1ff; /* Adjusting the neon effect for body text */
  text-shadow: 0 0 4px #00d1ff, 0 0 10px #00d1ff;
}
